body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  input[type="password"] {
    padding: 10px;
    font-size: 1rem;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .monkey {
    width: 100px;
    height: 100px;
    background-image: url('singeno.jpg');
    background-size: cover;
  }
  
  .text-danger {
    color: red; /* Couleur de texte pour les messages incorrects */
  }
  
  .text-success {
    color: green; /* Couleur de texte pour les messages corrects */
  }
  